In [7]:
import pandas as pd
df = pd.read_csv('../../DataSets/employees.csv')

df.sort_values(by="First Name",inplace=True)
duplicate = df['First Name'].duplicated()
print(duplicate)
df[duplicate] #shows all the duplicate value
duplicate = df['First Name'].duplicated(keep='last')
print(duplicate)
df[duplicate]

#show only the  duplicate values
duplicate = df['First Name'].duplicated(keep=False)
print(duplicate)
df[duplicate]

#show only unique values
duplicate = ~df['First Name'].duplicated(keep=False)
print(duplicate)
df[duplicate]

101    False
327     True
440     True
937     True
137    False
       ...
902     True
925     True
946     True
947     True
951     True
Name: First Name, Length: 1000, dtype: bool
101     True
327     True
440     True
937    False
137     True
       ...
902     True
925     True
946     True
947     True
951    False
Name: First Name, Length: 1000, dtype: bool
101    True
327    True
440    True
937    True
137    True
       ...
902    True
925    True
946    True
947    True
951    True
Name: First Name, Length: 1000, dtype: bool
101    False
327    False
440    False
937    False
137    False
       ...
902    False
925    False
946    False
947    False
951    False
Name: First Name, Length: 1000, dtype: bool

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
688,Brian,Male,4/7/2007,10:47 PM,93901,17.821,True,Legal
190,Carol,Female,3/19/1996,3:39 AM,57783,9.129,False,Finance
887,David,Male,12/5/2009,8:48 AM,92242,15.407,False,Legal
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
495,Eugene,Male,5/24/1984,10:54 AM,81077,2.117,False,Sales
33,Jean,Female,12/18/1993,9:07 AM,119082,16.180,False,Business Development
832,Keith,Male,2/12/2003,3:02 PM,120672,19.467,False,Legal
291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services