In [13]:
import pandas as pd
nba = pd.read_csv('../../DataSets/nba.csv')
nba.head()

nba.fillna(value=0)# fill 0 to all the null
nba['Salary'].fillna(value=0,inplace=True)#apply only Salary column
nba.head()


nba['College'].fillna(value='No Collage', inplace=True)
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No Collage,5000000.0