In [2]:
import pandas as pd
df = pd.read_csv('../../DataSets/employees.csv',parse_dates=["Start Date","Last Login Time"])
df["Gender"] = df['Gender'].astype("category")
df["Senior Management"] = df['Senior Management'].astype("bool")

mask1= df["Team"] == 'Legal'
mask2= df["Team"] == 'Sales'
mask3= df["Team"] == 'Product'
df[mask1 | mask2 | mask3]

#alternet for that
mask = df['Team'].isin(['Legal','Sales','Product'])
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
5,Dennis,Male,1987-04-18,2019-10-16 01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,2019-10-16 16:20:00,65476,10.012,True,Product
11,Julie,Female,1997-10-26,2019-10-16 15:19:00,102508,12.637,True,Legal
13,Gary,Male,2008-01-27,2019-10-16 23:40:00,109831,5.831,False,Sales
15,Lillian,Female,2016-06-05,2019-10-16 06:09:00,59414,1.256,False,Product
...,...,...,...,...,...,...,...,...
981,James,Male,1993-01-15,2019-10-16 17:19:00,148985,19.280,False,Legal
985,Stephen,NaN,1983-07-10,2019-10-16 20:10:00,85668,1.909,False,Legal
989,Justin,NaN,1991-02-10,2019-10-16 16:58:00,38344,3.794,False,Legal
997,Russell,Male,2013-05-20,2019-10-16 12:39:00,96914,1.421,False,Product
999,Albert,Male,2012-05-15,2019-10-16 18:24:00,129949,10.169,True,Sales