In [11]:
import pandas as pd

revenue = pd.read_csv('../../DataSets/revenue.csv')
s = pd.Series([1,2,3])
s
s.sum()
revenue.sum()
revenue.sum(axis=0)
revenue.sum(axis ='index')
revenue.sum(axis = 1)#row wise
revenue.sum(axis = 'columns')

0    1606
1    2060
2     967
3    2519
4     438
5    1935
6    1234
7    2313
8    2623
9     555
dtype: int64

In [22]:
nba = pd.read_csv('../../DataSets/nba.csv')
nba
nba.head(10)
nba.Name #just a series
type(nba.Name)
type(nba)
#problem happning when column name having space 'Pawan Kumr'
nba['Name']#100% works
nba[['Name',"Team"]]
Select = ['Name',"Team"]
nba[Select]

              Name            Team
0    Avery Bradley  Boston Celtics
1      Jae Crowder  Boston Celtics
2     John Holland  Boston Celtics
3      R.J. Hunter  Boston Celtics
4    Jonas Jerebko  Boston Celtics
..             ...             ...
453   Shelvin Mack       Utah Jazz
454      Raul Neto       Utah Jazz
455   Tibor Pleiss       Utah Jazz
456    Jeff Withey       Utah Jazz
457            NaN             NaN

[458 rows x 2 columns]