In [19]:
import pandas as pd

nba = pd.read_csv("../../DataSets/nba.csv")

nba.head(10)
nba.sort_values("Name").head(10)

nba.sort_values(by=["Name"],ascending=False)
#all null vales sorted as end
nba.sort_values(by=["Salary"],na_position="last")#default behabiore
nba.sort_values(by=["Salary"],na_position="first")
nba.sort_values(by=["Salary","Name"],na_position="first")

nba.sort_values(by=["Salary","Name"],na_position="last",ascending=[False,True])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
109,Kobe Bryant,Los Angeles Lakers,24.0,SF,37.0,6-6,212.0,NaN,25000000.0
169,LeBron James,Cleveland Cavaliers,23.0,SF,31.0,6-8,250.0,NaN,22970500.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
251,Dwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,NaN,22359364.0
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
...,...,...,...,...,...,...,...,...,...
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
264,Jordan Farmar,Memphis Grizzlies,4.0,PG,29.0,6-2,180.0,UCLA,NaN
269,Ray McCallum,Memphis Grizzlies,5.0,PG,24.0,6-3,190.0,Detroit,NaN
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN